:root {
  --accent: #b73bf3;
  --text-color: #e8f7ff;
  --bg-color: #011530;
  --bg-light-color: linear-gradient(
    134deg,
    rgba(14, 30, 66, 1) 0%,
    rgba(15, 32, 74, 1) 100%
  );
  --mega-light-bg: #0f2d48;
  --dark-accent: #9b33ce;
}
