.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  .right {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
}
